<mat-card style="text-align: center;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-title> login</mat-card-title>
        <mat-form-field appearance="outline" style="width: 25%">
            <input matInput placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </mat-form-field>
        <div *ngIf="submitted && f.username.errors">
            <mat-error *ngIf="f.username.errors.required">username is required</mat-error>
        </div><br>
        <mat-form-field appearance="outline" style="width: 25%">
            <input matInput placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                [type]="toggleVisbility.type">
            <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors">
            <mat-error *ngIf="f.password.errors.required">password is required</mat-error>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
        <mat-error *ngIf="error">{{error}}</mat-error>
    </form>
</mat-card>