<mat-card style="text-align: center;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-title> login</mat-card-title>
        <mat-form-field appearance="outline" style="width: 25%">
            <input matInput placeholder="Email" value="eve.holt@reqres.in" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </mat-form-field>
        <div *ngIf="submitted && f.email.errors">
            <mat-error *ngIf="f.email.errors.required">email is required</mat-error>
        </div><br>
        <mat-form-field appearance="outline" style="width: 25%">
            <input matInput placeholder="Password" value="cityslicka" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                [type]="toggleVisbility.type">
            <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors">
            <mat-error *ngIf="f.password.errors.required">password is required</mat-error>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
        <mat-error *ngIf="error">{{error}}</mat-error>
    </form>
</mat-card>